@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: hsl(0, 0%, 86%);
}

main{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    /* background-color: brown; */
}

label, input, p, #erros{
    font-family: "Poppins", sans-serif; 
}

#conteudo{
    width: 510px;
    height: 400px;
    background-color: white;
    border-radius: 10px;
    
    border-bottom-right-radius: 130px;
}

form{
     margin-top: 35px;
     text-align: left;
     flex-direction: row;
}


  #textosinputs{
    display: block;
}

label{
    font-size: 10px;
    font-weight: normal;
    font-weight: 600;
    letter-spacing: 2px;

    text-align: left;
    text-transform: uppercase;

    margin-left: 30px;
}

#texto-dia{
    margin-right: 70px;
}

#texto-mes{
    margin-right: 50px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input::placeholder{
    color: hsl(0, 1%, 58%);
    font-weight: 600;
}
    
input:focus {
    box-shadow: 0 0 0 0 ;
    outline: 0;

    border-color: hsl(259, 100%, 70%);
    caret-color:hsl(259, 100%, 70%);
}

input{
    width: 80px;
    height: 40px;

    padding-left: 15px;
    margin-top: 5px;
    margin-left: 30px;
    margin-bottom: 5px;

      
    font-weight: 600;
    font-size: 19px;

    border-width: 1px;
    border-style: solid;
    border-color: hsl(0, 0%, 86%);
    border-radius: 5px;

    
    /* outline-color: hsl(259, 100%, 75%); */
    background-color: hsl(0, 0%, 100%);
}

#erros{
    display: none;
    font-size: 9px;
    font-style: italic;
    font-weight: 500;
    color: hsl(0, 100%, 67%);
    margin-left: 30px;
    /* margin-top: 5px; DOM */
    
    
    
}

#erromes, #erroano{
   margin-left: 35px;
    
 
}

#but{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-right: 40px;
    height:35px;
}

hr, button{
    margin-bottom: 20px;
}

hr{
    border-bottom: 1px solid hsl(0, 0%, 86%);
    flex: 1;
    margin-left: 30px;
}

button{
    background-color:  hsl(259, 100%, 65%);
    width: 50px;
    height: 50px;

    border-radius: 40px;
    cursor: pointer;
    transition: .4;
}

button:hover{
    background-color: hsl(0, 0%, 8%);
}

img{
    width: 25px;
}

p{
    font-size: 60px;
    font-weight: 800;
    font-style: italic;
    text-align: left;
    line-height: 65px;

    margin-left: 30px;
}

#dia,#mes,#ano{
    color: hsl(259, 100%, 65%);
}